img {
  border-radius: 25px 25px 25px 25px;
}

h2 {
  font-size: 18px;
}

body, h4 {
  background-color: #FAEAB1;
  font-family: Trebuchet MS;
  color: black;
  text-align: center;
}

li, h4 {
  text-align: left;
}
