img {
  border-radius: 50px 0 50px 0;
}
h2 {
  font-size: 18px;
}
body {
  background-color: rgb(20, 112, 233);
  font-family: Trebuchet MS;
  color: rgb(0, 255, 55);
  text-align: center;
}
a {
  background-color: rgb(156, 158, 22);
  font-size: 20px;
  border-radius: 25px;
  padding: 5px;
  display: block;
  margin: 5px;
  color: rgb(253, 253, 246);
  text-align: center;
}
